<nav class="navbar navbar-expand-lg bg-custom navbar-dark py-3">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
<!--      <img src="" class="logo" alt="logo" />-->
<!--      <i class="fas fa-stethoscope me-3 text-white"></i>-->
      <h3 class=" fw-bold">
        <i class="fas fa-stethoscope  text-white"></i>Clinify
      </h3>
    </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation" (click)="isNavbarCollapsed = !isNavbarCollapsed">

      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end flex-grow-0" [class.show]="!isNavbarCollapsed">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" >
          <button  routerLink="/signup" (click)="collapse()" routerLinkActive="active" type="button" class="btn btn-outline-primary btn-custom" data-bs-toggle="button" aria-pressed="false" autocomplete="off">Signup</button>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/login" ><span  (click)="collapse()" >Login</span></a>
        </li>

        <li class="nav-item separator"></li>
        <li class="nav-item">
          <a class="nav-link active " routerLink="/clinic/login" (click)="collapse()">Clinic Login</a>
        </li>

        <li class="nav-item separator"></li>
        <li class="nav-item">
          <a class="nav-link active " routerLink="/clinic/signup" (click)="collapse()">Clinic Signup</a>
        </li>

        <li class="nav-item separator"></li>
        <li class="nav-item">
          <a class="nav-link active " routerLink="/clinic/add-doctor" (click)="collapse()">Add Doctor</a>
        </li>

        <li class="nav-item separator"></li>
        <li class="nav-item">
          <a class="nav-link active " routerLink="/clinic/manage-doctors" (click)="collapse()">Edit Doctors</a>
        </li>

        <li class="nav-item separator"></li>
        <li class="nav-item">
          <a class="nav-link active " routerLink="/doctor" (click)="collapse()">Book Doctor</a>
        </li>


        <li class="nav-item separator"></li>
        <li class="nav-item">
          <a class="nav-link active " routerLink="/checkout" (click)="collapse()">Checkout</a>
        </li>

        <!--        <li class="nav-item separator"></li>-->

<!--        <li class="nav-item">-->
<!--          <a class="nav-link active " routerLink="/">Language</a>-->
<!--        </li>-->
<!--        <li class="nav-item separator"></li>-->
<!--        <li class="nav-item dropdown">-->
<!--          <div ngbDropdown class="d-inline-block" placement="end">-->
<!--            <button type="button" class="nav-link active dropdown-toggle" id="dropdownBasic1" ngbDropdownToggle>-->
<!--              <i ngbDropdownItem href="#" class="dropdown-item flag-icon" [ngClass]="countryFlagMap.get(getSelectCountry())"></i> {{ getSelectCountry()}}-->
<!--            </button>-->
<!--            <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-menu dropdown-menu-end font-weight-bold">-->
<!--              <a ngbDropdownItem href="#" class="dropdown-item" (click)="selectCountry('US')">-->
<!--                <i class="flag-icon" [ngClass]="countryFlagMap.get('US')"></i> US-->
<!--              </a>-->
<!--              <a ngbDropdownItem href="#" class="dropdown-item" (click)="selectCountry('UK')">-->
<!--                <i class="flag-icon" [ngClass]="countryFlagMap.get('UK')"></i> UK-->
<!--              </a>-->
<!--              <a ngbDropdownItem href="#" class="dropdown-item" (click)="selectCountry('Egypt')">-->
<!--                <i class="flag-icon" [ngClass]="countryFlagMap.get('Egypt')"></i> Egypt-->
<!--              </a>-->
<!--            </div>-->
<!--          </div>-->
<!--        </li>-->
      </ul>
    </div>
  </div>
</nav>
