<div class="login-page">
  <div class="login">
    <div class="container">
      <div class="col-12 header">
        <div class="">
          <p class="title">Clinic Login</p>
        </div>
        <p class="x"></p>

        <p class="message ">Login now and get full access to our app. </p>
      </div>

      <div class="example-form row "  [formGroup]="loginForm">
        <mat-form-field appearance="outline" class="col-12">
          <mat-label>Email</mat-label>
          <input  matInput name="email" required type="email" [formControlName]="'email'">
          <mat-error *ngIf="loginForm.controls['email'].errors?.['required']">Required</mat-error>
          <mat-error *ngIf="loginForm.controls['email'].errors?.['pattern']">Invalid</mat-error>

        </mat-form-field>
        <mat-form-field appearance="outline" class="col-12">
          <mat-label>Password</mat-label>
          <input   matInput name="Password" required
                   type="password" [formControlName]="'password'">
          <mat-error *ngIf="loginForm.controls['password'].errors?.['required']">Required</mat-error>
          <mat-error *ngIf="loginForm.controls['password'].errors?.['minlength']">Min Length = 5</mat-error>
          <mat-error *ngIf="loginForm.controls['password'].errors?.['maxlength']">MaxLength = 30</mat-error>


        </mat-form-field>
        <mat-divider></mat-divider>


        <div class="row mt-3">
          <button (click)="login()" mat-raised-button color="primary" class="col-4 offset-4"
                  [disabled]="!loginForm.valid"  >Login</button>
        </div>

        <div class="row">
          <p class="signin">Don't have an account ? <a routerLink="/clinic/signup" >Register</a> </p>
        </div>


      </div>
    </div>
  </div>
</div>
