<div class="container p-5 col-md-7">


  <div class="loading mb-4 text-center" *ngIf="isLoading" style="margin: auto">
    <svg width="64px" height="48px">
      <polyline points="0.157 23.954, 14 23.954, 21.843 48, 43 0, 50 24, 64 24" id="back"></polyline>
      <polyline points="0.157 23.954, 14 23.954, 21.843 48, 43 0, 50 24, 64 24" id="front"></polyline>
    </svg>
  </div>

  <div class="" *ngFor="let doctor of doctors ; let i = index" >
      <div class="card" *ngIf="!isLoading">
        <div class="infos">
<!--          <img src="/assets/images/doctor-clinic-illustration_1270-69.avif"  class="image">-->
          <img [src]="Constants.downloadDoctorImgUrl+doctor.imgUrl"  class="image" alt="doctor">

          <div class="info ">
            <div >
              <p class="name">
                {{doctor.doctorTitle.name +': '+doctor.fullName}}
              </p>
            </div>
            <div class="phone row">

              <span class="spec col-md-6 col-xs-12">
                {{doctor.doctorSpecialization.name}}
              </span>
              <span class="spec col-md-6 col-xs-12">
                {{doctor.phoneNumber}}
              </span>
            </div>

<!--            </div>-->
            <div class="stats col-md-12">
              <p class="flex flex-col">
                Ticket Price
                <span class="state-value">
                            {{doctor.ticketPrice}}
                        </span>
              </p>
              <p class="flex">
                Rating
                <span class="state-value">
                              {{doctor.averageRating}}
                        </span>
              </p>

            </div>
          </div>
        </div>
<!--        <button class="request" type="button" >-->
<!--          Edit Doctor-->
<!--        </button>-->
          <button (click)="editDoctor(doctor, i)"  mat-raised-button class="request col-md-10"
          >  Edit Doctor</button>
        <button (click)="editAppointments(doctor.id)"  mat-raised-button class="request"
        >  {{(this.flags.get(doctor.id)?'Hide Appointments':'Edit Appointments')}}</button>
      </div>

    <div class="white-card"  *ngIf="flags.get(doctor.id)">
      <div class="row" *ngFor="let appointment of forms.get(doctor.id)"   [formGroup]="appointment">
        <mat-form-field appearance="outline" class="col-md-3 col-xs-12" >
          <mat-label>From</mat-label>
          <input  matInput name="from" required type="time" formControlName="from" >
          <mat-error *ngIf="appointment.controls['from'].errors?.['required']">Required</mat-error>

        </mat-form-field>
        <mat-form-field appearance="outline" class="col-md-3 col-xs-12">
          <mat-label>To</mat-label>
          <input  matInput name="to" required type="time" formControlName="to">
          <mat-error *ngIf="appointment.controls['to'].errors?.['required']">Required</mat-error>

        </mat-form-field>
        <mat-form-field   appearance="outline" class="col-md-3">
          <mat-label>Date</mat-label>
          <input  matInput [matDatepicker]="picker" name="date" required formControlName="date" >
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="appointment.controls['date'].errors?.['required']">Required</mat-error>

        </mat-form-field>

        <div class="col-md-3 text-center" style="margin: auto">
          <button  mat-raised-button color="primary"
          (click)="saveApp(appointment)">Save</button>
        </div>
        <mat-divider style="margin: 15px"/>

      </div>
      <div class="col-md-3 text-center" style="margin: auto">
          <button  class="add" [mat-dialog-close]="true" mat-raised-button color="primary" (click)="addAppointment(doctor.id)"
          > <i class="fas fa-plus text-white"></i > Add</button>
      </div>
    </div>

<!--    </form>-->
  </div>

  <ngb-pagination   class="d-flex justify-content-center"
                    [(page)]="page"
                    [pageSize]="limit"
                    [collectionSize]="totalCount"
                    [maxSize]="5"
                    [boundaryLinks]="true"
                    (pageChange)="nextPage()">

  </ngb-pagination>
</div>




