<div class="row col-12 text-center"style="text-align: center">

  <div class="login-page">
    <div class="login">
      <div class="container">
        <div class="col-12 header">
          <h2 >SignUp</h2>
        </div>

        <div class="example-form row "  [formGroup]="signupForm">

          <mat-form-field appearance="outline" class="col-md-6 col-xs-12">
            <mat-label>Full Name</mat-label>
            <input  matInput name="name" required type="text" [formControlName]="'name'">
            <mat-error *ngIf="signupForm.controls['name'].errors?.['required']">Required</mat-error>
            <mat-error *ngIf="signupForm.controls['name'].errors?.['minlength']">Min Length = 5</mat-error>
            <mat-error *ngIf="signupForm.controls['name'].errors?.['maxlength']">Max Length = 30</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="col-md-6">
            <mat-label>Mobile Number</mat-label>
            <input  matInput name="phone" required type="tel" [formControlName]="'phone'">
            <mat-error *ngIf="signupForm.controls['phone'].errors?.['required']">Required</mat-error>
            <mat-error *ngIf="signupForm.controls['phone'].errors?.['pattern']">Invalid Number</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="col-md-6">
            <mat-label>Email</mat-label>
            <input type="email"  matInput name="address" required [formControlName]="'email'"/>
            <mat-error *ngIf="signupForm.controls['email'].errors?.['required']">Required</mat-error>
            <mat-error *ngIf="signupForm.controls['email'].errors?.['pattern']">Invalid Email</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="col-md-6">
            <mat-label>Password</mat-label>
            <input   matInput name="Password" required
                     type="password" [formControlName]="'password'">
            <mat-error *ngIf="signupForm.controls['password'].errors?.['required']">Required</mat-error>
            <mat-error *ngIf="signupForm.controls['password'].errors?.['minlength']">MinLength = 5</mat-error>
            <mat-error *ngIf="signupForm.controls['password'].errors?.['maxlength']">MaxLength = 30</mat-error>
          </mat-form-field>

          <mat-form-field   appearance="outline" class="col-md-12">
            <mat-label>DOB</mat-label>
            <input  matInput [matDatepicker]="picker" name="dob" required  [formControlName]="'dob'">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="signupForm.controls['dob'].errors?.['required']">Required</mat-error>
          </mat-form-field>




<!--          <mat-form-field appearance="outline" class="col-md-6">-->
<!--            <mat-label>City</mat-label>-->
<!--            <mat-select [formControlName]="'city'" >-->
<!--              <mat-option *ngFor="let city of cities" [value]="city">-->
<!--                {{city}}-->
<!--              </mat-option>-->
<!--            </mat-select>-->
<!--          </mat-form-field>-->



<!--          <mat-form-field appearance="outline" class="col-md-6">-->
<!--            <mat-label>Area</mat-label>-->
<!--            <input  matInput name="area" required type="text" [formControlName]="'area'">-->
<!--            <mat-error *ngIf="signupForm.controls['area'].errors?.['required']">Required</mat-error>-->
<!--            <mat-error *ngIf="signupForm.controls['area'].errors?.['minlength']">Min Length = 5</mat-error>-->
<!--            <mat-error *ngIf="signupForm.controls['area'].errors?.['maxlength']">Max Length = 30</mat-error>-->
<!--          </mat-form-field>-->

<!--          <mat-form-field appearance="outline" class="col-md-12">-->
<!--            <mat-label>Address</mat-label>-->
<!--            <textarea  matInput name="address" required [formControlName]="'address'"></textarea>-->
<!--            <mat-error *ngIf="signupForm.controls['address'].errors?.['required']">Required</mat-error>-->
<!--            <mat-error *ngIf="signupForm.controls['address'].errors?.['minlength']">Min Length = 5</mat-error>-->
<!--            <mat-error *ngIf="signupForm.controls['address'].errors?.['maxlength']">Max Length = 30</mat-error>-->
<!--          </mat-form-field>-->


          <div   class="col-md-12 text-center" style="margin-bottom: 10px">
            <mat-label>Gender*:</mat-label>
            <mat-radio-group
              aria-labelledby="example-radio-group-label"
              class="example-radio-group"
              formControlName="gender"
              required
            >
              <mat-radio-button class="example-radio-button" color="primary"  [value]="'male'">
                Male
              </mat-radio-button>
              <mat-radio-button class="example-radio-button" color="primary"   [value]="'female'">
                Female
              </mat-radio-button>
            </mat-radio-group>
          </div>

          <div class="row">
            <button (click)="login()" mat-raised-button color="primary" class="col-4 offset-4"
                    [disabled]="!signupForm.valid"  >SignUp</button>
          </div>

          <div class="row">
            <a routerLink="/login" class=" col-4 offset-4 2">Login!</a>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>
