<div class="container text-center my-5">
    <div class="row">
        <div class="col-12 col-md-3 mb-4">
            <h4><i class='fas fa-hand-holding-heart'></i> All your healthcare needs</h4>
            <p>Search and book a clinic visit, home visit, or a teleconsultation.
                Order your medicine and book a service or operation.
            </p>
        </div>
        <div class="col-12 col-md-3 mb-4">
            <h4><i class="fas fa-user-doctor"></i> Verified patient reviews</h4>
            <p>
                Doctor ratings are from patients who booked and visited the doctor through Vezeeta.
            </p>
        </div>
        <div class="col-12 col-md-3 mb-4">
            <h4><i class="fas fa-calendar-check"></i> Your booking is confirmed</h4>
            <p>
                Your booking is automatically confirmed,
                as the doctor specifies his working hours and is notified of the booking details.
            </p>
        </div>
        <div class="col-12 col-md-3 mb-4">
            <h4><i class="fas fa-shield-heart"></i> Book for free, and pay in the clinic</h4>
            <p>
                The consultation fees stated on Vezeeta are the actual doctor's fees with no extra charges.
            </p>
        </div>
    </div>
</div>