<div class="search">
    <app-clinic-search></app-clinic-search>   
</div>
<div class="container p-5">
  <table class="table ">
      <thead >
        <tr>
          <th class="header-cell text-center">Doctor name</th>
          <th class="header-cell text-center">Address</th>
          <th class="header-cell text-center">Reservation Date</th>
          <th class="header-cell text-center">Statues</th>
          <th class="header-cell text-center">From</th>
          <th class="header-cell text-center">To</th>
          <th class="header-cell text-center">Cancel Reservation</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let appointment of patientAppointment">
          <td class="text-center">{{ appointment.doctor.fullName }}</td>
          <td class="text-center">{{ appointment.doctor.clinic.address }}</td>
          <td class="text-center">{{ appointment.date}}</td>
          <td class="text-center">{{ appointment.status}}</td>
          <td class="text-center">{{ appointment.startTime }}</td>
          <td class="text-center">{{ appointment.endTime }}</td>
          <td class="text-center cancel-icon-cell">
            <button class="btn btn-secondary">
              <i class="bi bi-x"></i> Cancel
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
  