<div class="search">
  <app-clinic-search></app-clinic-search>
</div>
<div class="container p-5">
  <div class="row ">
    <div class="col-12 col-md-4 cardElement" *ngFor="let appointment of appointmentService.patientAppointment">
      <div class="card mb-3">
        <div class="card-body">
          <div class="d-flex align-items-center">
            <div class="circle-img">
              <img [src]="imgUrl+appointment.doctor.imgUrl" class="rounded-circle img-thumbnail mr-3" alt="" width="50" height="50">
            </div>
            <div class="ml-3">
              <div class="doctor-name">
                {{ appointment.doctor.fullName }}
              </div>
              <div class="doctor-specialization small-text">
                {{ appointment.doctor.doctorSpecialization.name }}
              </div>
            </div>
          </div>
        </div>
        <div class="card-body"> <p class="card-text"><i class="bi bi-geo-alt-fill"></i> {{ appointment.doctor.clinic.address }}</p>
          <p class="card-text"><i class="bi bi-calendar-event"></i> Appointment Date: {{ appointment.date |date:'EEEE, MMMM d'}}</p>
          <p class="card-text"><i class="bi bi-info-circle-fill"></i> {{ (!isBefore(appointment.date))?appointment.status:'Finished' }}</p>
          <p class="card-text"><i class="bi bi-calendar-event"></i> From: {{ appointment.startTime }} - To: {{ appointment.endTime }}</p>
        </div>
        <div class="card-footer text-center" >
          <button (click)="handleButtonAction(appointment.id)" class="btn btn-danger" *ngIf="!isBefore(appointment.date)">
            <i class="bi bi-x"></i> Cancel Appointment
          </button>
          <button (click)="rate(appointment.id)" class="btn rate" *ngIf=" isBefore(appointment.date)">
            <i class="fa fa-star checked"></i> Rate Appointment
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
+