
.header-cell {
    background-color: var( --tableHeaderColor );  
}
.centrlize {
    margin-left: 125px;
    margin-right: 125px;
    display: flex;
    justify-content: center;
  }
  .material-icons{
    font-size:48px;
    color:rgb(236, 41, 41);
  }
  .cancel-icon:hover {
    color: red;
    cursor: pointer;
  }
  .cancel-icon-cell {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .extra-padding {
    padding: 200px;
  }
  .container{
    overflow-x: auto;
  }

  .doctor-name {
    font-weight: bold;
    font-size: 18px;
  }
  
  .small-text {
    font-size: 12px;
  }