<app-update-profile></app-update-profile>
<hr class="mt-0 mb-4">
    <div class="row justify-content-center">
        <div class="col-xl-8">
            <div class="card mb-4">
                <div class="card-header">Account Details</div>
                <div class="card-body">
                <form >
                          <!-- Form Group -->
                            <!-- <div class="md-3">
                                <label class="small mb-1" for="inputNewPassword">New password</label>
                                <input class="form-control" id="inputNewPassword" type="password" placeholder="New password" value="Valerie">
                            </div>
                          
                            <div class="md-3">
                                <label class="small mb-1" for="inputConfirmPassword">Confirm password</label>
                                <input class="form-control" id="inputConfirmPassword" type="password" placeholder="Confirm password" value="Luna">
                            </div> -->
                    
                        <button class="btn btn-primary" type="button">Save changes</button>
                    </form>
                </div>
            </div>
        </div>
    </div>