<div class="container p-5">
    <div class="search">
        <div class="search-title">
            <h3><mat-icon class="search-icon">calendar_month</mat-icon>
                Need a Doctor?</h3>
        </div>
        <mat-divider></mat-divider>
        <form action="" class="form-container pt-3">
            <div class="row gx-1">

                <mat-form-field class="col-12 col-sm-6 col-lg">
                    <mat-label><mat-icon>emergency</mat-icon>
                        Speciality</mat-label>
                    <mat-select [(ngModel)]="selectedSpeciality" name="speciality">
                        <mat-option *ngFor="let speciality of specialties" [value]="speciality">
                            {{speciality.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="col-12 col-sm-6 col-lg">
                    <mat-label><mat-icon>location_city</mat-icon> City</mat-label>
                    <mat-select [(ngModel)]="selectedCity" name="city"
                        (selectionChange)="onCitySelectionChange($event.value)">
                        <mat-option *ngFor="let city of cities" [value]="city">
                            {{ city.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="col-12 col-sm-6 col-lg">
                    <mat-label><mat-icon>my_location</mat-icon>
                        Area</mat-label>
                    <mat-select [(ngModel)]="selectedArea" name="selectedArea">
                        <mat-option *ngFor="let Area of filteredAreas" [value]="Area">
                            {{Area.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="col-12 col-sm-6 col-lg ">
                    <mat-label>Clinic Name</mat-label>
                    <input type="text" matInput [(ngModel)]="doctorName" name="doctorName">
                </mat-form-field>

                <button mat-raised-button color="accent" class="search-button col-12 col-lg-2"
                    (click)="submitSearchbutton()">
                    <mat-icon class="btn-search-icon">search</mat-icon>Search</button>

            </div>
        </form>
    </div>

    <div class="mt-4" style="text-align: right; font-size: 17px;" >
        <mat-form-field>
            <mat-label>Sort Type</mat-label>
            <mat-select name="sort">
                <mat-option *ngFor="let sortType of sortTypes" (click)="addSortParams(sortType)">
                    {{sortType.label}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

</div>

