.search {
  padding: 1rem;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border-radius: 1.5rem;
}

.form-container {
}

.search-button {
  height: 56px;
  font-size: 1.5rem;
}

.btn-search-icon {
  transform: scale(1.5);
}

.search-title {
  color: #11468f;
  text-align: center;
  padding: 0.25rem;
}

.search-icon {
  transform: scale(1.3);
}
