/*.search {*/
/*  background-color: #eeeeee;*/
/*  margin-bottom: 1rem;*/
/*}*/
.search{
  background-image:url("/assets/images/search-bg.jpg");
  background-size: contain;
}

.filter{
  margin-right: 12%;
}